body{
    font-family: 'Poppins';
    background:repeating-linear-gradient(to right,#f17b41,#cd4bc9,purple);
    heigth:100%;
    width:100%;
	margin:0;
	padding-top: 100px;
	
}
.container h1{
	text-align: center;
	padding: 27px;
	color:rgb(98, 43, 98);
	margin: -20px;	
	margin-bottom: 10px;
}
.container p{
	color:rgb(98, 43, 98);
	text-align: left;
	margin-left: 30px;
	margin-bottom: -15px;
	font-weight: bold;
	font-size: 20px;
}

.container {
	background-color: #fff;
	border-radius: 20px;
  	box-shadow:20px 20px 50px rgb(86, 75, 75);
	width: 650px;
	height: 400px;
	margin: auto;
	padding: 50px 20px;
   
}
.container input {
	background-color: #eee;
	border: none;
	padding: 15px 15px;
	width: 85%;
	margin: 23px 0 0 0;
	margin-left: 30px;
}
.container input[type="submit"]
{
  font-size: 20px;
  background: #cd4bc9;
  color: rgb(59, 21, 59);
  height: 55px;
  font-weight:bolder;
   border-radius: 10px;
}




